.application-management {
	font-family: '맑은 고딕', AppleGothic;
}
.application-management .no_of_post {
	border-bottom: 1px solid #d5d5d5;
	padding-bottom: 10px;
	color: #284a5c;
	padding: 0 10px 10px 10px;
	font-size: 10pt;
}
.application-management .no_of_post b {
	color: #564f28;
}
.application-management .row {
	border-bottom: 1px solid #d5d5d5;
}

.application-management .row:first-child {
	border-top: 1px solid #d5d5d5;
}

.application-management .row .application {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding: 0 10px;
	cursor: pointer;
}

.application-management .row .application:hover {
	background-color: #666666;
	color: #ffffff;
}
.application-management .row .username {
	float: right;
	margin-right: 10px;
}
.application-management .row .date {
	float: right;
}

.application-management .row .description {
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0 20px 0;
	display: none;
}

.application-management .row .description table tr td{
	min-height: 30px;
	line-height: 30px;
}

.application-management .row .description .item {
	background-color: #555555;
	display: inline-block;
	width: 60px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	border-radius: 3px;
	color: #ffffff;
	font-weight: bold;
	margin-right: 10px;
}
.application-management .row .description table tr td .sub-title {
	border: 1px solid #d5d5d5;
	background-color: #f9f9f9;
	color: #30596e;
	font-weight: bold;
	margin: 10px 0;
}
.application-management .row .description table tr td .sub-title .inner {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #ffffff;
}

.application-management .row .description table tr td  .content {
	background-color: #f9f9f9;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	padding: 10px;
}

.paging {
	text-align: center;
	padding: 5px 0;
	margin: 10px 0;
}
.paging a {
	text-decoration: none;
	font-size: 8.7pt;
	color: #666666;
	border: 1px solid #d5d5d5;
	display: inline-block;
	padding: 2px;
	border-radius: 2px;
	margin-left: 3px;
	text-align: center;
}
.paging a:hover, .paging .selected {
	border: 1px solid #3e391d;
	background-color: #666666;
	color: #ffffff;
}
.paging .page_no {
	width: 15px;
}