.application-form {
	border: 1px solid #95cfb7;
	min-height: 231px;
	background-color: #f5f5f5;
	font-family: '맑은 고딕', AppleGothic;
	padding: 9px;
	width: 180px;
	position: absolute;
	z-index: 100;
	right: 0;
	top: 0;
	
}

.application-form > .title {
	border-bottom: 1px solid #c5c5c5;
	position: relative;
	padding: 0 0 8px 30px;
}
.application-form > .title .title-icon {
	position: absolute;
	left: 0;
	top: 0;
}
.application-form > .title .main-title {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 10pt;
}

.application-form .sub-title {
	color: #777777;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
}
.application-form .sucess-message .success {
	color: #5a2929;
}

.application-form .sucess-message .success b {
	color: #283f4a;
}

.application-form .sub-title2 {
	color: #585858;
	font-size: 9pt;
	margin: 12px 5px 8px 5px;
}
.application-form  .row {
	margin: 0 5px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 8px;
	max-width: 300px;
}

.application-form  .row input[type='text'] {
	width: 148px;
	padding: 0 10px;
	height: 21px;
	line-height: 21px;
	color: #9c9c9c;
	border: 0;
	background-color: transparent;
}

.application-form  .pannel-bottom {
	position: absolute;
	bottom: 9px;
	right: 9px;
}

.application-form  .reset-icon {
	cursor: pointer;
}
.application-form  .reset2-icon {
	cursor: pointer;
}
.application-form  .dropdown-icon {
	cursor: pointer;
}

.application-form  .extra-form {
	height: 480px;
	display: none;
	position: relative;
}
.application-form  .extra-form  textarea[name='experience'] {
	width: 665px;
	height: 280px;
	margin-left: 5px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	resize: none;
}

.application-form  .extra-form  .captcha {
	position: absolute;
	right: 112px;
	bottom: -3px;
}

.application-form  .extra-form  .captcha img {
	border: 1px solid #215069;
	padding: 2px;
	margin-right: 5px;
	position: relative;
	top: -1px;
	cursor: pointer;
}

.application-form  .extra-form  .captcha input[type='text'] {
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	width: 85px;
}
.application-form .item {
	display: none;
	width: 60px;
	display: none;
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	background-color: #d7e7e8;
	color: #666666;
	border-right: 1px solid #e5e5e5;
}

.application-form .pannel-bottom .application-write-button {
	border: 0;
	background-color: #78bb9f;
	color: #ffffff;
	display: inline-block;
	width: 34px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}